Repository alifnaufalyasin/gits-capstone-project, pull requests merged in 2021-10, with the labels that each got.

#10 Login Warga
  src/api/controllers/warga.controller.go
  src/api/routes/init.go
  src/api/routes/warga.route.go
  src/utils/auth.go
  src/utils/jwt.go
  src/utils/response.go
Labels: controllers, routes, utils, source

#12 Login pengurus
  src/api/controllers/pengurusRT.controller.go
  src/api/models/pengurusRT.model.go
  src/api/routes/pengurusRT.route.go
Labels: controllers, models, routes, source

#13 Entity info dompet
  src/entity/dompet_rt.go
  src/entity/informasi.go
  src/entity/rt.go
  src/migrations/migration.go
Labels: entity, source
