Repository alifnaufalyasin/gits-capstone-project, pull requests merged in 2021-11, with the labels that each got.

#14 Login auth
  src/api/controllers/keluarga.controller.go
  src/api/controllers/pengurusRT.controller.go
  src/api/controllers/warga.controller.go
  src/api/models/keluarga.model.go
  src/api/models/pengurusRT.model.go
  src/api/routes/init.go
  src/api/routes/keluarga.route.go
  src/db/pengurus_rt.seeder .go
  src/db/warga.seeder .go
  src/entity/pengurus_rt.go
  src/entity/warga.go
  src/utils/bcrypt.go
  src/utils/response.go
Labels: controllers, models, routes, database, entity, utils, source

#15 Update kode keluarga
  src/api/controllers/keluarga.controller.go
  src/api/models/keluarga.model.go
  src/db/keluarga.seeder .go
  src/entity/keluarga.go
Labels: controllers, models, database, entity, source

#16 Update kode keluarga
  src/api/controllers/pengurusRT.controller.go
  src/api/controllers/rt.controller.go
  src/api/controllers/warga.controller.go
  src/api/models/keluarga.model.go
  src/api/models/rt.model.go
  src/db/keluarga.seeder .go
  src/db/rt.seeder.go
  src/entity/pengurus_rt.go
  src/entity/rt.go
  src/entity/warga.go
Labels: controllers, models, database, entity, source

#17 Update daftar warga pengurus
  src/api/controllers/keluarga.controller.go
  src/entity/pengurus_rt.go
  src/entity/warga.go
Labels: controllers, entity, source

#18 CRUD Dompet RT
  src/api/controllers/dompetRT.controller.go
  src/api/models/dompetRT.model.go
  src/api/routes/dompetRT.route.go
  src/api/routes/init.go
  src/utils/response.go
Labels: controllers, models, routes, utils, source

#20 Produk handler
  src/api/controllers/produk.controller.go
  src/api/models/produk.model.go
  src/api/routes/init.go
  src/api/routes/produk.route.go
  src/db/db.go
  src/db/pengurus_rt.seeder .go
  src/db/produk.seeder .go
  src/db/warga.seeder .go
  src/go.sum
  src/main.go
  src/utils/response.go
Labels: controllers, models, routes, database, utils, source

#21 Crud Order
  src/api/controllers/orders.controller.go
  src/api/models/orders.model.go
  src/api/routes/init.go
  src/api/routes/order.route.go
  src/entity/order.go
  src/entity/warga.go
  src/utils/response.go
Labels: controllers, models, routes, entity, utils, source

#23 Crud
  src/api/controllers/dompetRT.controller.go
  src/api/controllers/orders.controller.go
  src/api/models/orders.model.go
  src/api/routes/dompetRT.route.go
  src/api/routes/init.go
  src/api/routes/order.route.go
  src/entity/order.go
  src/utils/jwt.go
Labels: controllers, models, routes, entity, utils, source
