Repository alifnaufalyasin/gits-capstone-project, pull requests merged in 2021-12, with the labels that each got.

#28 Update Topup and Withdraw dompet rt and keluarga
  src/api/controllers/dompetKeluarga.controller.go
  src/api/controllers/dompetRT.controller.go
  src/api/routes/dompetKeluarga.route.go
  src/api/routes/dompetRT.route.go
Labels: controllers, routes, source

#29 Update aduan, informasi
  src/api/controllers/aduan.controller.go
  src/api/controllers/dompetKeluarga.controller.go
  src/api/controllers/dompetRT.controller.go
  src/api/controllers/informasi.controller.go
  src/db/aduan.seeder.go
  src/db/db.go
  src/entity/aduan.go
  src/entity/informasi.go
  src/entity/rt.go
Labels: controllers, database, entity, source

#31 Order
  src/api/controllers/aduan.controller.go
  src/api/controllers/orders.controller.go
  src/api/controllers/warga.controller.go
  src/entity/item_order.go
  src/entity/produk.go
  src/utils/response.go
Labels: controllers, entity, utils, source

#30 Model, Controller, dan Route untuk Tagihan Done
  src/api/controllers/tagihan.controller.go
  src/api/models/tagihan.model.go
  src/api/routes/init.go
  src/api/routes/tagihan.route.go
  src/entity/tagihan.go
Labels: bug, help wanted, question, controllers, models, routes, entity, source

#32 Add forget pass and update tagihan
  src/.env
  src/api/controllers/orders.controller.go
  src/api/controllers/pengurusRT.controller.go
  src/api/controllers/produk.controller.go
  src/api/controllers/tagihan.controller.go
  src/api/controllers/warga.controller.go
  src/api/models/forgetPasswordPengurus.model.go
  src/api/models/forgetPasswordWarga.model.go
  src/api/models/keluarga.model.go
  src/api/models/tagihan.model.go
  src/api/models/warga.model.go
  src/api/routes/init.go
  src/api/routes/pengurusRT.route.go
  src/api/routes/tagihan.route.go
  src/api/routes/warga.route.go
  src/config/config.go
  src/db/db.go
  src/db/pengurus_rt.seeder .go
  src/db/warga.seeder .go
  src/entity/forget_password_pengurus.go
  src/entity/forget_password_warga.go
  src/entity/pengurus_rt.go
  src/entity/produk.go
  src/entity/rt.go
  src/entity/tagihan.go
  src/entity/warga.go
  src/go.mod
  src/go.sum
  src/main.go
  src/migrations/migration.go
  src/utils/forgetPassword.go
  src/utils/response.go
Labels: controllers, models, routes, database, entity, utils, source, config

#33 upd create order
  src/api/controllers/orders.controller.go
  src/api/models/itemOrder.model.go
  src/api/models/orders.model.go
  src/entity/pembayaran.go
Labels: controllers, models, entity, source

#34 Update order and get warga by name
  src/api/controllers/orders.controller.go
  src/api/controllers/pengurusRT.controller.go
  src/api/controllers/produk.controller.go
  src/api/controllers/warga.controller.go
  src/api/models/itemOrder.model.go
  src/api/models/orders.model.go
  src/api/models/produk.model.go
  src/api/models/warga.model.go
  src/db/produk.seeder .go
  src/entity/item_order.go
  src/entity/order.go
  src/entity/pengurus_rt.go
  src/entity/warga.go
Labels: controllers, models, database, entity, source

#35 Check ballance when withdraw and change password
  src/api/controllers/dompetKeluarga.controller.go
  src/api/controllers/dompetRT.controller.go
  src/api/controllers/pengurusRT.controller.go
  src/api/controllers/produk.controller.go
  src/api/controllers/warga.controller.go
  src/api/routes/pengurusRT.route.go
  src/api/routes/warga.route.go
  src/db/warga.seeder .go
Labels: controllers, routes, database, source

#36 Init auto deploy vps action
  .github/workflows/deploy-vps.yml
Labels: source

#37 Auto deploy vps
  .github/workflows/deploy-vps.yml
Labels: source

#38 Search produk by name
  docker-compose.yml
  src/.env
  src/Dockerfile
  src/api/controllers/produk.controller.go
  src/api/models/produk.model.go
Labels: controllers, models, source, automation

#39 Init for Notification app
  src/api/controllers/pengurusRT.controller.go
  src/api/controllers/warga.controller.go
  src/entity/order.go
  src/entity/pembayaran.go
  src/entity/pengurus_rt.go
  src/entity/warga.go
  src/go.mod
  src/go.sum
  src/utils/sendNotification.go
Labels: controllers, entity, utils, source

#41 Update CICD
  .github/workflows/deploy-vps.yml
  database.yml
  docker-compose.yml
Labels: source, automation

#42 Update order flow
  .github/workflows/deploy-vps.yml
  src/api/controllers/orders.controller.go
  src/api/controllers/pengurusRT.controller.go
  src/api/controllers/produk.controller.go
  src/api/controllers/warga.controller.go
  src/api/models/orders.model.go
  src/api/models/pembayaran.model.go
  src/api/models/produk.model.go
  src/api/routes/order.route.go
  src/db/db.go
  src/db/keluarga.seeder .go
  src/db/produk.seeder .go
  src/entity/dompet_keluarga.go
  src/entity/order.go
  src/entity/pembayaran.go
  src/entity/produk.go
Labels: controllers, models, routes, database, entity, source

#43 Fix reser password error nil pointer
  src/api/controllers/warga.controller.go
  src/api/models/forgetPasswordPengurus.model.go
  src/api/models/forgetPasswordWarga.model.go
Labels: controllers, models, source

#44 Update tagihan that can be pay more than once
  .github/workflows/deploy-vps.yml
  src/api/controllers/pengurusRT.controller.go
  src/api/controllers/tagihan.controller.go
  src/api/controllers/warga.controller.go
  src/entity/tagihan.go
  src/entity/warga.go
Labels: controllers, entity, source
